@import "tailwindcss";

@theme{
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-coda: "Coda", sans-serif;
  --background-image-grain: url('/assets/images/noisy-background.png');
  --animate-noisy-bg: noisy-bg 1s steps(8, end) infinite both;
  
  --color-primary-background: rgba(255, 255, 255, 0.05);
  --color-primary-foreground: #fff;
  --color-secondary-background: rgba(255, 255, 255, 0.03);
  --color-secondary-foreground: rgba(255,255,255,0.4);
  
  --color-blue-joust: #56acff;
  --color-blue-cosmos: #003049;
  --color-blue-hera: #7179ef;
  
  --color-green-benzol: #00d372;
  
  --color-pink-ice: #d87cac;
  
  --color-border: rgb(255 255 255 / 0.05);
}

@layer utilities{
  .before-content-none::before {
    content: "";
  }
}

@keyframes noisy-bg {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}